* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: arial;
  height: 100vh;
  background: radial-gradient(ellipse, #534 0%, #123 120%);
}

i {
  color: white;
  margin: 5px 0 0 30px;
}

.main {
  margin: 0 2%;
}

.card {
  width: 350px;
  display: inline-block;
  box-shadow: 2px 2px 20px rgb(63, 63, 85);
  border-radius: 5px;
  margin: 2%;
}

.image img {
  width: 350px;
  border-radius: 5px;
}

